a.links {
    padding: 1rem;
    border: 1px solid #64FFDA;
    color: #64FFDA;
    text-decoration: none;
    transition: border-radius 0.1s ease-in-out;
}

a.links:hover{
    text-decoration: underline;
    border-radius: 1rem;
    border: 2px solid #64FFDA;
}

.error {
    color: #ff2216;
    padding: 0.5rem;
    border: 1px solid #ff2216;  
    text-align: center;
    margin-bottom: 1rem;
}

.success {
    color: #1eff00;
    padding: 0.5rem;
    border: 1px solid #1eff00;  
    text-align: center;
    margin-bottom: 1rem;
}

a.forgot-password {
    font-size: small;
    color: #64FFDA;
}